*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# IDE settings
.vscode/
.idea*

# OS specific
src/.DS_*
.DS_*

# Localstack data directory
localstack-data/

# test reports  
coverage
